<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>GLMPS: Find an album cover from images</title>
</head>
<body>
	<img src="assets/logo.png" alt="GLMPS" class="logo">
	<h1>Find and preview an album with nothing but a picture</h1>
	<nav class="menu">
		<div class="navbar">
			<button class="button"><a href="" class="navbar">Download for Android</a></button>
			<button class="button"><a href="" class="navbar">Github</a></button>
		</div>	
	</nav>

	<h1>How to use</h1>
	<h2>Why GLMPS?</h2>
	<p>GLMPS helps you find new music, by allowing you to quickly preview new albums the next time you go record shopping.
	Using advanced image processing techniques allows you to take a picture of an album and using Google's image search wizardry
	you can then listen to the tracks straight from that album, and save them for later.
</p>
</body>

<footer class="footer">
	<p>Created by: Matthew Atkins, George Coldstream, Sitong Liu, James Oxley, Evaldas Piksrys, Jaidon Rymer and Ryan Sweeny</p>
	<p>Team Software Engineerings - Assessment Three</p>
</footer> 
</html>